@import "tailwindcss";

/* =========================
   TOKENS DE DISEÑO
========================= */

:root {
  /* Fondos */
  --color-app-bg: #EFEDE7;
  --color-sidebar-bg: #2C2C2C;
  --color-card-bg: #FFFFFF;

  /* Texto */
  --color-text-main: #494E5F;

  /* Botón primario */
  --color-primary-bg: #90BF77;
  --color-primary-text: #425C5A;

  /* Botón peligro */
  --color-danger-bg: #EFBEAF;
  --color-danger-text: #E87A58;

  /* Radio */
  --radius-base: 20px;
}

/* =========================
   VINCULAMOS A TAILWIND
========================= */

@theme inline {
  --color-app: var(--color-app-bg);
  --color-sidebar: var(--color-sidebar-bg);
  --color-card: var(--color-card-bg);

  --color-text: var(--color-text-main);

  --color-primary: var(--color-primary-bg);
  --color-primary-foreground: var(--color-primary-text);

  --color-danger: var(--color-danger-bg);
  --color-danger-foreground: var(--color-danger-text);

  --radius-xl: var(--radius-base);
}

/* =========================
   ESTILOS BASE
========================= */

body {
  background: var(--color-app-bg);
  color: var(--color-text-main);
  font-family: 'Montserrat', sans-serif;
}